# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
nomkl
python=3.5.2=0
libgfortran=3.0.0=1
openblas=0.2.14=4
numpy=1.11.2=py35_0
scikit-learn=0.18=np111py35_0
scipy=0.18.1=np111py35_0
