# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
nomkl
libgfortran=3.0.0=1
openblas=0.2.14=4
numpy=1.11.2=py35_nomkl_0
pip=8.1.2=py35_0
python=3.5.2=0
scikit-learn=0.18=np111py35_0
scipy=0.18.1=np111py35_0
setuptools=27.2.0=py35_0
wheel=0.29.0=py35_0
